Openpyxl - como um VBA, conseguimos entrar na planilha e editar formulas ou cells especificas.

Pandas - trata o excel como uma base de dados, melhor para analises e manipular dados.

##### PANDAS

In [9]:
# NO excel > M1 =  Sell Out * Multiplicador

import pandas as pd

path = r'C:\Users\goncavic01\.vscode\github\Python\Python-1\SDA_Vendas_python.xlsx'
tabela = pd.read_excel(path,sheet_name='Vendas', header= 0)

display(tabela)

      Cliente Modelo  Sell Out  Estoque  Multiplicador     M1
0  VIA VAREJO  STK12      1000    20000            1.2  24000
1       Luiza  STK12       800    17000            1.2  20400
2       Havan  STK12       500    15000            1.2  18000

In [14]:
# atualizar o multiplicador - no pandas temos que refazer a conta com o novo multiplicador
# tabela.loc[linha,coluna]

tabela.loc[tabela['Cliente'] == 'Havan', 'Multiplicador'] = 2.1

tabela['M1'] = tabela['Multiplicador'] * tabela['Sell Out']

display(tabela)

      Cliente Modelo  Sell Out  Estoque  Multiplicador      M1
0  VIA VAREJO  STK12      1000    20000            1.2  1200.0
1       Luiza  STK12       800    17000            1.2   960.0
2       Havan  STK12       500    15000            2.1  1050.0

In [ ]:
#salvar o arquivo em Excel
tabela.to_excel('Vendas_Pandas.xlsx', index = False)

#### OPENPYXL

In [25]:
from openpyxl import Workbook, load_workbook

#carregando o Arquivo
book = load_workbook(path)

#carregando a ABA
pagina = book['Vendas']
#se for somente 1 aba usamos: book.active

#percorrendo as celulas na Coluna A
for cell in pagina['A']:
    if cell.value == 'Havan':
        linha = cell.row
        pagina[f'E{linha}'] = 2.5

book.save('Vendas_openpy.xlsx')